<!DOCTYPE html>
<html>

<head>
 <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
</head>

<% @about = About.first%>
<% @contact = Contact.first %>
<% @target = Curate.first %>
<% @curate = Gallery.where(url: "#{@target.url}").first %>

<div id="allen">Allen Shugar</div>

<%= render "sidebar" %>

<section id="sideview">

<div id="about">About<br></div>

      <%= image_tag "#{@about.url}.jpg"%>

  <div id="aboutform">
  <%= form_for @about, :method => "put" do |f| %>
  <%= f.select :url, options_from_collection_for_select(Gallery.where(media_type: "about"), :url, :url, @about.url) %>
  <div id="bio">Bio:<%= f.text_area :bio, :value => @about.bio %><br></div>
  <div id="statement">Statement:<%= f.text_area :statement, :value => @about.statement %><br></div>
  <%= f.submit "Update" %>
  <% end %>
  </div>


<div id="contact">Contact</div>
  <%= form_for @contact, :method => "put" do |f| %>
  <div class="curate_label">Memo: <%= f.text_area :body, :value => @contact.body %></div><br>
  <div class="curate_label">Email: <%= f.text_area :email, :value => @contact.email %></div><br>
    <br>
  <%= f.submit "Update" %>
  <% end %>
<br>
<br>
<br>

<div id="gallerylabel">Gallery</div>
      <%= image_tag "#{@target.url}.jpg"%>
      <br><br>
      <%= form_for @target, :method => "put" do |f| %>
      <%= f.select :url, options_from_collection_for_select(Gallery.where('price > 0'), :url, :title, @target.url) %>
      <br>
      <%= f.submit 'change image' %>
      <% end %>
  </div>

  <div id="curate_gallery">
<%= Gallery.last.inspect %>

    <%= form_for @curate, :method => "put" do |f| %>
    <div class="curate_label">Title: <%= @curate.title %></div><br>
    <div class="curate_label">Media: <%= f.select :media_type, ([['Painting', 'paint'], ['Portrait', 'portrait'], ['Mixed Media', 'mixed'], ['About', 'about'] ]) %>
    </div><br>
    <div class="curate_label">Medium: <%= f.text_field :date, :value => @curate.medium %></div><br>
    <div class="curate_label">Price: <%= f.text_field :price, :value => @curate.price %></div><br>
    <div class="curate_label">Size: <%= f.text_field :size, :value => @curate.size %></div><br>
      <br>
    <%= f.submit "Update" %>
    <% end %>
  </div>

  <br>
  <section id= "uploader">
  <div id="upload">Upload</div>

  <%= form_for @curate, :method => "create" do |f| %>
  <div class="curate_label">Title:<%= f.text_field :title, :value => "add a title" %></div><br>
  <div class="curate_label">Media:<%= f.select :media_type, ([['Painting', 'paint'], ['Portrait', 'portrait'], ['Mixed Media', 'mixed'], ['About', 'about'] ]) %>
  </div><br>
  <div class="curate_label">Medium: <%= f.text_field :medium, :value => "medium" %></div><br>
  <div class="curate_label">Price: <%= f.text_field :price, :value => "price" %></div><br>
  <div class="curate_label">Size: <%= f.text_field :size, :value => "size" %></div><br>
  <div class="curate_label">upload: <%= f.label :image%><%= f.file_field :image %></div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>

  </section>

</section>
</html>
