

<section id="sidebar_buttons">

<div class="navbutton">
  <%= link_to "Home", '/' %>
</div>

<div class="navbutton">
  <%= link_to "About", 'about#index' %>
</div>

<div class="navbutton highlighted">
  <%= link_to "Paintings", 'paintings#index' %>
</div>

<div class="navbutton">
  <%= link_to "Portraits", 'portraits#index' %>
</div>

<div class="navbutton">
  <%= link_to "Mixed Media", 'mixed_media#index' %>
</div>

<div class="navbutton">
  <%= link_to "Contact", 'contact#index' %>
</div>

</section>