<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet">



 <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
</head>

<div id="allen">Allen Shugar</div>

<% @gallery = Gallery.where('price > 0') %>

<body>

  <div id="lightbox"></div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="frame">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
                <%= link_to image_tag("#{@gallery.first.title}.jpg"),
                '/gallery/1', id: "allslide" %>
            <div class="artcard">
                  Title: <%= @gallery.first.title %> <br>
                  Medium: <%= @gallery.first.medium %> <br>
                  Media: <%= @gallery.first.media_type %> <br>
                  Price: $<%= @gallery.first.price %> <br>
                  Size: <%= @gallery.first.size %>
                </div>
          </div>
            <% @gallery.drop(1).each do |k| %>
             <div class="item">
                <%= link_to image_tag("#{k.title}.jpg"), "/gallery/#{((k.id.to_f)/9).ceil}", id: "allslide" %>
                <div class="artcard">
                  Title: <%= k.title %> <br>
                  Medium: <%= k.medium %> <br>
                  Media: <%= k.media_type %> <br>
                  Price: $<%= k.price %> <br>
                  Size: <%= k.size %>
                </div>
             </div>
            <% end %>
        </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>