<section id="slideshow">

<% portrait = Gallery.where(media_type:  'portrait')%>

  <div id="row1">
    <div class="slideshow_image" id="ss1">
      <% if portrait[1] %>
        <%= image_tag "#{portrait[1].title}.jpg"%>
      <% end %>
    </div>
    <div class="slideshow_image" id="ss2">
      <% if portrait[2] %>
        <%= image_tag "#{portrait[2].title}.jpg"%>
      <% end %>
    </div>
    <div class="slideshow_image" id="ss3">
      <% if portrait[3] %>
        <%= image_tag "#{portrait[3].title}.jpg"%>
      <% end %>
    </div>
  </div><br><br>

 <div id="row2">
    <div class="slideshow_image" id="ss4">
      <% if portrait[4] %>
        <%= image_tag "#{portrait[4].title}.jpg"%>
      <% end %>
    </div>
    <div class="slideshow_image" id="ss5">
      <% if portrait[5] %>
        <%= image_tag "#{portrait[5].title}.jpg"%>
      <% end %>
    </div>
    <div class="slideshow_image" id="ss6">
      <% if portrait[6] %>
        <%= image_tag "#{portrait[6].title}.jpg"%>
      <% end %>
    </div>
  </div><br><br>

   <div id="row3">
    <div class="slideshow_image" id="ss7">
      <% if portrait[7] %>
        <%= image_tag "#{portrait[7].title}.jpg"%>
      <% end %>
    </div>
    <div class="slideshow_image" id="ss8">
      <% if portrait[8] %>
        <%= image_tag "#{portrait[8].title}.jpg"%>
      <% end %>
    </div>
    <div class="slideshow_image" id="ss9">
      <% if portrait[9] %>
        <%= image_tag "#{portrait[9].title}.jpg"%>
      <% end %>
    </div>
  </div><br><br>

  <div id="pageindex">'<< < page 1/10 > >>'</div>
 </section>