<section id="sidebar_buttons">

<div class="navbutton" id="sb_home">
  <%= link_to "Home", '/' %>
</div>

<div class="navbutton" id="sb_about">
  <%= link_to "About", '../about' %>
</div>

<div class="navbutton" id="sb_paintings">
  <%= link_to "Paintings", '../paintings' %>
</div>

<div class="navbutton highlighted" id="sb_portraits">
  <%= link_to "Portraits", '../portraits' %>
</div>

<div class="navbutton" id="sb_mixed_media">
  <%= link_to "Mixed Media", '../mixed_media' %>
</div>

<div class="navbutton" id="sb_contact">
  <%= link_to "Contact", '../contact' %>
</div>

</section>