
<section id="sidebar_buttons">

<div class="navbutton2"><%= link_to "Home", '/' %></div>
<div class="navbutton2"><%= link_to "About", 'about#index' %></div>
<div class="navbutton2"><%= link_to "Paintings", 'paintings#index' %></div>
<div class="navbutton2"><%= link_to "Portraits", 'portraits#index' %></div>
<div class="navbutton2"><%= link_to "Mixed Media", 'mixed_media#index' %></div>
<div class="navbutton2"><%= link_to "Contact", 'contact#index' %></div>

</section>