<section id="sidebar_buttons">

<div class="navbutton"><%= link_to "Home", '#' %></div>
<div class="navbutton"><%= link_to "About", '#' %></div>
<div class="navbutton"><%= link_to "Paintings", '#' %></div>
<div class="navbutton"><%= link_to "Portraits", '#' %></div>
<div class="navbutton"><%= link_to "Mixed Media", '#' %></div>
<div class="navbutton"><%= link_to "Contact", '#' %></div>

</section>