

<section id="sidebar_buttons">

<div class="navbutton highlighted">
  <%= link_to "Home", '/' %>
</div>

<div class="navbutton">
  <%= link_to "About", '../about' %>
</div>

<div class="navbutton">
  <%= link_to "Paintings", '../paintings' %>
</div>

<div class="navbutton">
  <%= link_to "Portraits", '../portraits' %>
</div>

<div class="navbutton">
  <%= link_to "Mixed Media", '../mixed_media' %>
</div>

<div class="navbutton">
  <%= link_to "Contact", '../contact' %>
</div>

</section>