<section id="slideshow">

  <div id="row1">
    <div class="slideshow_image" id="ss1">
      <%= image_tag "#{Gallery.find(1).title}.jpg"%>
    </div>
    <div class="slideshow_image" id="ss2">
      <%= image_tag "#{Gallery.find(2).title}.jpg"%>
    </div>
    <div class="slideshow_image" id="ss3">
      <%= image_tag "#{Gallery.find(3).title}.jpg"%>
    </div>
  </div><br><br>

  <div id="row2">
    <div class="slideshow_image" id="ss4">
      <%= image_tag "#{Gallery.find(4).title}.jpg"%>
    </div>
    <div class="slideshow_image" id="ss5">
      <%= image_tag "#{Gallery.find(5).title}.jpg"%>
    </div>
    <div class="slideshow_image" id="ss6">
      <%= image_tag "#{Gallery.find(6).title}.jpg"%>
    </div>
  </div><br><br>

  <div id="row3">
    <div class="slideshow_image" id="ss7">
      <%= image_tag "#{Gallery.find(7).title}.jpg"%>
    </div>
    <div class="slideshow_image" id="ss8">
      <%= image_tag "#{Gallery.find(8).title}.jpg"%>
    </div>
    <div class="slideshow_image" id="ss9">
      <%= image_tag "#{Gallery.find(9).title}.jpg"%>
    </div>
  </div>

  <div id="pageindex">'<< < page 1/10 > >>'</div>
 </section>