<% @contact = Contact.first %>
<% @mail = Mailer.first%>


<section id="contactinfo">
  <div><%= @contact.body %></div>
<br>

<%= form_for @mail, :method => "put" do |f| %>
  <div class="curate_label">Subject:<%= f.text_field :subject, :value => "" %></div><br>
  <%= f.text_area :body, :value => "" %>
  <br>
   <%= f.submit "Send Message" %>
  <% end %>

</div>

